@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

html, body {
    font-family: 'Quicksand', sans-serif;
    background: #ececec !important;
}

/*--Login--*/
.login-card {
    margin: auto;
    margin-top: 15em;
    max-width: 35em;
}
.card-header {
    background-color: brown !important;
    color: white;
}
.btn-primary {
    background-color: #373737 !important;
}

/*--Navbar--*/

.navbar-dark, .navbar-light {
    border-bottom-style: solid;
    border-width: 0.25em;
    border-color: brown;
}
.navbar-dark {
    background-color: #373737 !important;
}

.navbar-light {
    background-color: white !important;
    color: brown !important;
}

/*--Footer--*/
.footer-dark {
    background-color: #373737 !important;
    border-top-style: solid;
    border-color: brown;
    border-width: 0.25em;
    color: white;
    min-height: 5em;
}

/*--Section--*/
.section {
    min-height: 50em;
    padding-top: 2% !important;
}

/*--Sidebar--*/
.sidebar {
    background-color: #373737;
    color: white;
    min-height: 55em;
}

.sidebar-block {
    height: 5em;
    border-bottom: 0.15em solid brown;
    text-align: center;
    padding-top: 10px;
}

a {
    text-decoration: none !important;
    color: white !important;
}

.sidebar-block:hover {
    background-color: #272727;
}

.sidebar-icons {
    padding: 0;
    margin: 0;
}

.body-container {
    overflow: hidden;
}

/*--Main--*/
.main-window {
    box-shadow: 5px 5px 10px;
    border-radius: 20px;
    min-height: 20em;
    max-height: 40em;
    margin-bottom: 20px !important;
    background-color: white;
}

/*--Windows--*/
.window-header {
    padding: 2em;
    padding-bottom: 1em;
    border-bottom: 1px solid silver;
}